// bower:scss
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
// endbower

$_include-reboot: true;
@import "bootstrap-grid-system/bootstrap-grid-system-partial";
@import "base/base";


$color-blue: #504dff;
$demo-element-bg-color: rgba($color-blue, 0.1);
$color-off-white: #efefef;
$floating-button-drop-shadow-color: rgba(shade(#504dff, 50%), 0.5);

.relPos {
  position: relative;
}

.demo-col {
  background: #ddddff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  margin: 10px;
  min-height: 3rem;
  border-radius: 3px;
  transition: all 0.2s;
  p {
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    line-height: 2;
  }
}
.demo-row {
  transition: all 0.2s;
  background: #ededff;
  border-radius: 3px;
}

#tabs-display-button {
  position: fixed;
  top: 5rem;
  right: 5rem;
  box-shadow: 0 12px 20px -8px $floating-button-drop-shadow-color;
  transition: all 0.15s;
  &:active {
    transform: scale(0.98) translateY(1px);
  }
}

//html, body {
//  min-height: 100vh;
//  transition: all 0.2s;
//}

header.index-header {
  padding-top: 4rem;
  padding-bottom: 2rem;
  //background: $color-off-white;
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
header.header-with-navbar {
  padding: 0 !important;
}
.tab {
  //margin: 0 0 -1rem 0;
  //padding: 0.5rem 1rem 1rem 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  max-width: 8rem;
  z-index: -50;
  //z-index: 50;
  line-height: 1;
  //max-height: 20px;
  //background: #ecf0f1;
  background: #9ba4e7;
  color: white;
  position: relative;
  bottom: -0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  //box-shadow: 0 5px 30px -2px rgba(black, 0.4);
  //box-shadow:         0px 4px 16px -8px rgba(0, 0, 0, 0.49);
  border-radius: 3px;
  //transition: all 0.2s;
  code {
    line-height: 1;
    padding: 0;
    font-size: modular-scale(-2);
    text-align: center;
    margin: 0 auto;
  }
}
section {
  padding-bottom: 1rem;
  transition: all 0.2s;
}
section:last-of-type {
  padding-bottom: 0;
}

main {
  transition: all 0.2s;
}
main.demos {
  .row {
    @extend .demo-row;
  }
  .col {
    @extend .demo-col;
  }
}

footer.index-footer {
  //border: red solid 1px;
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;

  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    p {
      line-height: 1;
      margin: 0 auto;
      font-size: modular-scale(-1);
    }
  }
}

@import "additional-demo-styles";
